@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET course</h1>
    <p class="lead">This is starting page og our tes app.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Available movies</h2>
        <p>
            What can you wathc tonight
        </p>
        <p><a class="btn btn-default" href="/Movies">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Costomers</p>
        <p><a class="btn btn-default" href="/Customers">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>